/* Custom Cursor */
html {
  cursor: url("../images/cursor.png"), auto;
}

/* Font faces */
@font-face {
  font-family: retropix;
  src: url(../fonts/retropix/retropix.ttf);
}

@font-face {
  font-family: sloopscript;
  src: url(../fonts/sloopscriptregular.ttf);
}

@font-face {
  font-family: texgyre_italic;
  src: url(../fonts/texgyretermes-italic.otf);
}

@font-face {
  font-family: texgyre_regular;
  src: url(../fonts/texgyretermes-regular.otf);
}

/* Navigation Bar */
.nav_about {
  font-family: sloopscript;
  font-size: 4vw;
}

.nav_shop {
  font-family: sloopscript;
  font-size: 4vw;
}

ul {
  text-align: center;
}

li {
  display: inline;
  padding: 8px;
}

/* Media Queries */
/* @media screen and (min-width: 992px){ */
button {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.logo {
  width: 49.2px;
  height: 33.2px;
}

.home {
  display: flex;
  flex-direction: column;
  margin-right: 45px;
  background: url("../images/home_wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Homepage 1st Section */
.navandnewjeansintro {
  .newjeansintro {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .newjeansgrp {
      width: 35vw;
      height: 25vw;
      z-index: 1;
    }

    #description {
      width: 305px;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.bunny {
  position: absolute;
  z-index: 3;
  left: 36.5vw;
  top: 20vw;
  width: 30vw;
  height: 30vw;
}

.new {
  font-size: 6vw;
  font-family: retropix;
  color: whitesmoke;
  margin: 2px;
}

.jeans {
  font-size: 6vw;
  font-family: sloopscript;
  color: whitesmoke;
  margin: 2px;
}

.meet_newjeans {
  font-size: 2vw;
  font-family: texgyre_italic;
  color: whitesmoke;
}

/* Homepage 2nd Section - Music Player */
.musicplayer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  #description {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .listennow {
    font-family: retropix;
    font-size: 5vw;
    margin-bottom: 0px;
    color: whitesmoke;
  }

  .musicname {
    align-items: center;
    color: whitesmoke;
    font-family: texgyre_regular;
    font-size: 3vw;
    margin: 5px;
  }

  .audio {
    margin: 5px;
  }

  .recordplayergif {
    width: 25vw;
    height: 25vw;
    border-radius: 10px;
    z-index: 2;
  }
}

/* Homepage 3rd Section - Shop */
.homepage_shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  .homepage_shop_button {
    #title {
      font-family: retropix;
      font-size: 5vw;
      color: whitesmoke;
      text-align: center;
      margin-top: 70px;
      margin-bottom: 0px;
    }

    .button_shop {
      border: 2px solid whitesmoke;
      border-radius: 14px;
      background-color: whitesmoke;
      font-family: sloopscript;
      font-size: 4vw;
      margin-top: 21px;
      display: flex;
      flex-wrap: wrap;
      padding: 15px 10px 10px 10px;
      justify-content: center;
      text-decoration: none;
    }
  }

  .desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .sparkle {
      position: relative;
      width: 17vw;
      height: 17vw;
      z-index: 2;
      right: -23vw;
      top: 14vw;
    }

    #grppic {
      position: absolute;
      width: 38vw;
      height: 29.299999999999997vw;
      z-index: 1;
      right: 47vw;
      top: 85vw;
    }

    #gif {
      position: relative;
      right: -14vw;
      top: 5vw;
      z-index: 0;
      width: 39vw;
      height: 30vw;
    }
  }
}

/* Homepage 4th Section - Learn More */
.learnmore {
  #learnmore {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    margin-top: 150px;
    align-items: center;

    /* #img{
            width: 796px;
            height: 556px;
            border-radius: 10px;
            margin-left: auto;
            margin-right: auto;
            display:block;
        } */

    #title {
      font-family: retropix;
      font-size: 4vw;
      color: whitesmoke;
      text-align: center;
    }

    .schedule {
      position: relative;

      #schedule {
        position: relative;
        display: flex;
        width: 796px;
        height: 556px;
        border-radius: 10px;
        z-index: 0;
        margin-left: auto;
        margin-right: auto;
      }

      #eye {
        position: absolute;
        z-index: 1;
        width: 11%;
        height: 15%;
        top: -34px;
        left: -31px;
        transform: rotate(340deg);
      }
    }

    #face {
      position: absolute;
      z-index: 1;
      width: 11%;
      height: 15%;
      bottom: -30px;
      right: -21px;
      transform: rotate(18deg);
    }
  }
}

.learnmore_text {
  font-family: texgyre_italic;
  font-size: 3vw;
}

/* About 1st Section */
.about {
  background: url("../images/home_wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutnj {
  .nj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .abtnj {
      margin-left: 70px;
      align-items: center;

      .title {
        text-align: center;
        font-family: retropix;
        font-size: 4vw;
        margin: 20px;
      }

      .ig {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .desc {
      font-family: retropix;
      font-size: 2vw;
      align-items: center;
      /* display:flex;
            flex-direction: column;
            flex:1; */
      text-align: center;
    }

    #photo {
      margin-right: auto;
      margin-left: auto;
      height: 40%;
      width: 40%;
    }
  }
}

@media screen and (max-width: 600px) {
  .about_minji {
    .minji {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      #title {
        font-family: sloopscript;
        font-size: 8vw;
        color: black;
        text-align: center;
        margin-bottom: 1vw;
      }

      #pic {
        position: relative;
        display: flex;
        height: 50%;
        width: 50%;
        z-index: 0;
        margin-left: auto;
        margin-right: auto;
      }

      #powerp {
        z-index: 1;
        position: relative;
        height: 50%;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        bottom: 9vw;
        right: 17vw;
      }

      #desc {
        font-family: "retropix";
        font-size: 4vw;
        color: black;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -25vw;
        left: 60;
      }
    }
  }
}


.about_minji {
  .minji {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #title {
      font-family: sloopscript;
      font-size: 6vw;
      color: black;
      text-align: center;
      margin-bottom: 1vw;
    }

    #pic {
      position: relative;
      display: flex;
      height: 40%;
      width: 40%;
      z-index: 0;
      margin-left: auto;
      margin-right: auto;
    }

    #powerp {
      z-index: 1;
      position: relative;
      height: 25%;
      width: 25%;
      margin-left: auto;
      margin-right: auto;
      bottom: 9vw;
      right: 17vw;
    }

    #desc {
      font-family: "retropix";
      font-size: 2vw;
      color: black;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: -25vw;
      left: 60;
    }
  }
}

.about_hanni {
  .hanni {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #title {
      font-family: sloopscript;
      font-size: 6vw;
      color: black;
      text-align: center;
      margin-bottom: 0;
    }

    #pic {
      position: relative;
      display: flex;
      height: 30%;
      width: 30%;
      z-index: 0;
      margin-left: auto;
      margin-right: auto;
    }

    #powerp {
      z-index: 1;
      position: relative;
      height: 25%;
      width: 25%;
      margin-left: auto;
      margin-right: auto;
      bottom: 16vw;
      right: -17vw;
    }

    #desc {
      font-family: retropix;
      font-size: 2vw;
      color: black;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: -25vw;
      left: -20;
    }
  }
}

.about_danielle {
  .danielle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #title {
      font-family: sloopscript;
      font-size: 6vw;
      color: black;
      text-align: center;
      margin-bottom: 0;
    }

    #pic {
      position: relative;
      display: flex;
      height: 40%;
      width: 40%;
      z-index: 0;
      margin-left: auto;
      margin-right: auto;
    }

    #powerp {
      z-index: 1;
      position: relative;
      height: 25%;
      width: 25%;
      margin-left: auto;
      margin-right: auto;
      bottom: 16vw;
      right: 17vw;
    }

    #desc {
      font-family: retropix;
      font-size: 2vw;
      color: black;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: -25vw;
      left: 20;
    }
  }
}

.about_haerin {
  .haerin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #title {
      font-family: sloopscript;
      font-size: 6vw;
      color: black;
      text-align: center;
      margin-bottom: 0;
    }

    #pic {
      position: relative;
      display: flex;
      height: 30%;
      width: 30%;
      z-index: 0;
      margin-left: auto;
      margin-right: auto;
    }

    #powerp {
      z-index: 1;
      position: relative;
      height: 25%;
      width: 25%;
      margin-left: auto;
      margin-right: auto;
      bottom: 16vw;
      right: -17vw;
    }

    #desc {
      font-family: retropix;
      font-size: 2vw;
      color: black;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: -25vw;
      left: 20;
    }
  }
}

.about_hyein {
  .hyein {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #title {
      font-family: sloopscript;
      font-size: 6vw;
      color: black;
      text-align: center;
      margin-bottom: 1vw;
    }

    #pic {
      position: relative;
      display: flex;
      height: 40%;
      width: 40%;
      z-index: 0;
      margin-left: auto;
      margin-right: auto;
    }

    #powerp {
      z-index: 1;
      position: relative;
      height: 25%;
      width: 25%;
      margin-left: auto;
      margin-right: auto;
      bottom: 16vw;
      right: 17vw;
    }

    #desc {
      font-family: retropix;
      font-size: 2vw;
      color: black;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: -25vw;
      left: 60;
    }
  }
}

/* Shop Introduction Section*/

.shop_page {
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  .head {
    width: 100%;

    .title {
      font-family: retropix;
      font-size: 5vw;
      color: black;
      text-align: center;
    }

    #nj {
      width: 100%;
      object-fit: cover;
    }
  }
}

.shop {
  font-family: retropix;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.shop_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5%;
  flex-direction: row;
}

.shop {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 21%;
  flex-wrap: wrap;
  position: relative;
}

.shop img {
  max-width: 100%;
  min-width: 245px;
  min-height: 245px;
  height: 25vw;
  opacity: 1;
  transition: 1s ease;
  object-fit: contain;
}

.shop .image_overlay {
    background: lightpink;
    opacity: 0;
    position: absolute;
    inset: 0;
    transition: all 0.4s ease;
}

.shop .image_overlay:hover {
    opacity: 0.2;
}

#shop_desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
