/* Custom Cursor */
html {
  cursor: url("../images/cursor.png"), auto;
}

/* Font faces */
@font-face {
  font-family: retropix;
  src: url(../fonts/retropix/retropix.ttf);
}

@font-face {
  font-family: sloopscript;
  src: url(../fonts/sloopscriptregular.ttf);
}

@font-face {
  font-family: texgyre_italic;
  src: url(../fonts/texgyretermes-italic.otf);
}

@font-face {
  font-family: texgyre_regular;
  src: url(../fonts/texgyretermes-regular.otf);
}

/* Scroll to Top */
.scrolltop{
    position:fixed;
    bottom: 30px;
    right:30px;
    padding: 10px 15px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    border-radius: 1px solid #fff;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    font-family: retropix;
}

.scrolltop:hover{ 
    background-color:#f7f7f7;
    color: #000;
}

/* Navigation Bar */
a{ 
    text-decoration: none;
    padding: 7px;
}

/* Customising the fonts and font size of the navigation texts */
.nav_about {
  font-family: sloopscript;
  font-size: 4vw;
}

.nav_shop {
  font-family: sloopscript;
  font-size: 4vw;
}

/* Aligning the navigation */
ul {
  text-align: center;
}

li {
  display: inline;
  padding: 8px;
}

/* Customizing the buttons */
button { 
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  text-decoration: none;
}

/* Standardizing the size of the logo */
.logo {
  width: 49.2px;
  height: 33.2px;
}

/* Customizing the body element of Home page */
.home {
  display: flex;
  flex-direction: column;
  margin-right: 45px;
  background: url("../images/home_wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Homepage 1st Section */
.navandnewjeansintro {
  .newjeansintro {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .newjeansgrp {
      width: 35vw;
      height: 25vw;
      z-index: 1;
    }

    #nj_description { 
      width: 305px;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

/* Customizing the bunny image */
.bunny {
  position: absolute;
  z-index: 3; /* To be at the most front */
  left: 36.5vw;
  top: 20vw;
  width: 30vw;
  height: 30vw;
}

/* Customizing the text 'new' */
.new { 
  font-size: 6vw;
  font-family: retropix;
  color: whitesmoke;
  margin: 2px;
}

/* Customizing the text 'jeans' */
.jeans {
  font-size: 6vw;
  font-family: sloopscript;
  color: whitesmoke;
  margin: 2px;
}

/* Customizing the text of the 'Meet NewJeans' button */
.meet_newjeans {
  font-size: 2vw;
  font-family: texgyre_italic;
  color: whitesmoke;
}

/* Customizing the 'Meet NewJeans' button */
.meetnj_button{
    border: 2px solid whitesmoke;
    border-radius: 14px;
    background-color: whitesmoke;
    font-family: retropix;
    font-size: 2vw;
    margin-bottom: 21px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 15px 10px 15px;
    justify-content: center;
    text-decoration: none;
  }

/* Homepage 2nd Section - Music Player */
.musicplayer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  #description {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .listennow {
    font-family: retropix;
    font-size: 5vw;
    margin-bottom: 0px;
    color: whitesmoke;
  }

  /* Customizing the song name */
  .musicname {
    align-items: center;
    color: whitesmoke;
    font-family: texgyre_regular;
    font-size: 3vw;
    margin: 5px;
  }

  /* Customizing the margin of the audio player */
  .audio {
    margin: 5px;
  }

/* Customizing the GIF of music player */
  .recordplayergif {
    width: 25vw;
    height: 25vw;
    border-radius: 10px;
    z-index: 2;
  }
}

/* Homepage 3rd Section - Shop */
.homepage_shop {
  display: flex;
  flex-direction: column;
  align-items: center;

  /*Customizing the 'Shop' button's text*/
  .homepage_shop_button {
    #title {
      font-family: retropix;
      font-size: 5vw;
      color: whitesmoke;
      text-align: center;
      margin-top: 70px;
      margin-bottom: 0px;
    }

  /*Customizing the 'Shop' button */
    .button_shop {
      border: 2px solid whitesmoke;
      border-radius: 14px;
      background-color: whitesmoke;
      font-family: sloopscript;
      font-size: 4vw;
      margin-top: 21px;
      display: flex;
      flex-wrap: wrap;
      padding: 15px 10px 10px 10px;
      justify-content: center;
      text-decoration: none;
    }
  }

  /* Customizing the text description of the Shop section */
  .desc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* Customizing the alignment of the decorative sparkle image */
    .sparkle {
      position: relative;
      width: 17vw;
      height: 17vw;
      z-index: 2;
      right: -23vw;
      top: 14vw;
    }

    /* Customizing the alignment of the group photo of newjeans */
    #grppic {
      position: absolute;
      width: 38vw;
      height: 29.299999999999997vw;
      z-index: 1;
      right: 47vw;
      top: 85vw;
    }

    /* Customizing the alignment of the 3D Model of NewJeans Lightstick */
    #gif {
      position: relative;
      right: -14vw;
      top: 5vw;
      z-index: 0;
      width: 39vw;
      height: 30vw;
    }
  }
}

/* Homepage 4th Section - Learn More */
.learnmore {
  #learnmore {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    margin-top: 150px;
    margin-bottom: 50px;
    align-items: center;

    /* Customizing the title of the Learn More section */
    #text {
      font-family: retropix;
      font-size: 4vw;
      color: whitesmoke;
      text-align: center;
    }

    /* Customizing the container for the calender element */
    .schedule {
      position: relative;

      /* Customizing the image of the calender */
      #schedule {
        position: relative;
        display: flex;
        width: 796px;
        height: 556px;
        border-radius: 10px;
        z-index: 0;
        margin-left: auto;
        margin-right: auto;
      }

      /* Customizing the alignment of the eye emoji */
      #eye {
        position: absolute;
        z-index: 1;
        width: 11%;
        height: 15%;
        top: -34px;
        left: -31px;
        transform: rotate(340deg);
      }
    }

    /* Customizing the alignment of the face emoji */
    #face {
      position: absolute;
      z-index: 1;
      width: 11%;
      height: 15%;
      bottom: -30px;
      right: -21px;
      transform: rotate(18deg);
    }
  }
}

/* Customizing the font and font size of the text title of the section */
.learnmore_text {
  font-family: texgyre_italic;
  font-size: 3vw;
}

/* About 1st Section */
.about { /*Customizing the background of the About page */
  background: url("../images/home_wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutnj {
  .nj {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .abtnj {
      margin-left: 70px;
      align-items: center;

      .title { /* Customizing the title of the page */
        text-align: center;
        font-family: retropix;
        font-size: 4vw;
        margin: 20px;
      }

      .ig { /* Customizing the alignment of the button that brings the
                user to NewJeans instagram */
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .desc { /* Customizing the description of the NewJeans introduction */
      font-family: retropix;
      font-size: 2vw;
      align-items: center;
      /* display:flex;
            flex-direction: column;
            flex:1; */
      text-align: center;
    }

    #photo { /* Customizing the alignment of the NewJeans photo */
      margin-right: auto;
      margin-left: auto;
      height: 40%;
      width: 40%;
    }
  }
}

/* Section to introduce Minji */
.about_minji {
.minji {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #minji_title { /*Customizing the title of the section (Name of member) */
    font-family: sloopscript;
    font-size: 6vw;
    color: black;
    text-align: center;
    margin-bottom: 1vw;
    }

    #minji_pic { /* Customizing the image of the member */
    position: relative;
    display: flex;
    height: 50%;
    width: 50%;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    }

    #minji_powerp {
    z-index: 1;
    position: relative;
    height: 25%;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    bottom: 9vw;
    right: 17vw;
    }

    #minji_desc {
    font-family: "retropix";
    font-size: 2vw;
    color: black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -24vw;
    left: 49px;
    }
}
}

/* Section to introduce Hanni */
.about_hanni {
  .hanni {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #hanni_title { /*Customizing the title of the section (Name of member) */
      font-family: sloopscript;
      font-size: 6vw;
      color: black;
      text-align: center;
      margin-bottom: 0;
    }

    #hanni_pic { /* Customizing the image of the member */
      position: relative;
      display: flex;
      height: 30%;
      width: 30%;
      z-index: 0;
      margin-left: auto;
      margin-right: auto;
    }

    #hanni_powerp { /* Customizing the powerpuff icon of the member */
      z-index: 1;
      position: relative;
      height: 25%;
      width: 25%;
      margin-left: auto;
      margin-right: auto;
      bottom: 16vw;
      right: -17vw;
    }

    #hanni_desc { /* Customizing the description of the member's profile */
      font-family: retropix;
      font-size: 2vw;
      color: black;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: -22vw;
      left: -10px;
    }
  }
}

/* Section to introduce Danielle */
.about_danielle {
  .danielle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #danielle_title { /*Customizing the title of the section (Name of member) */
      font-family: sloopscript;
      font-size: 6vw;
      color: black;
      text-align: center;
      margin-bottom: 0;
    }

    #danielle_pic { /* Customizing the image of the member */
      position: relative;
      display: flex;
      height: 40%;
      width: 40%;
      z-index: 0;
      margin-left: auto;
      margin-right: auto;
    }

    #danielle_powerp { /* Customizing the powerpuff icon of the member */
      z-index: 1;
      position: relative;
      height: 25%;
      width: 25%;
      margin-left: auto;
      margin-right: auto;
      bottom: 16vw;
      right: 17vw;
    }

    #danielle_desc { /* Customizing the description of the member's profile */
      font-family: retropix;
      font-size: 2vw;
      color: black;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: -25vw;
      left: 20px;
    }
  }
}

/* Section to introduce Haerin */
.about_haerin {
  .haerin {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #haerin_title { /*Customizing the title of the section (Name of member) */
      font-family: sloopscript;
      font-size: 6vw;
      color: black;
      text-align: center;
      margin-bottom: 0;
    }

    #haerin_pic { /* Customizing the image of the member */
      position: relative;
      display: flex;
      height: 30%;
      width: 30%;
      z-index: 0;
      margin-left: auto;
      margin-right: auto;
    }

    #haerin_powerp { /* Customizing the powerpuff icon of the member */
      z-index: 1;
      position: relative;
      height: 25%;
      width: 25%;
      margin-left: auto;
      margin-right: auto;
      bottom: 16vw;
      right: -17vw;
    }

    #haerin_desc { /* Customizing the description of the member's profile */
      font-family: retropix;
      font-size: 2vw;
      color: black;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: -25vw;
      left: 20px;
    }
  }
}

/* Section to introduce Hyein */
.about_hyein {
  .hyein {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #hyein_title { /*Customizing the title of the section (Name of member) */
      font-family: sloopscript;
      font-size: 6vw;
      color: black;
      text-align: center;
      margin-bottom: 1vw;
    }

    #hyein_pic { /* Customizing the image of the member */
      position: relative;
      display: flex;
      height: 40%;
      width: 40%;
      z-index: 0;
      margin-left: auto;
      margin-right: auto;
    }

    #hyein_powerp { /* Customizing the powerpuff icon of the member */
      z-index: 1;
      position: relative;
      height: 25%;
      width: 25%;
      margin-left: auto;
      margin-right: auto;
      bottom: 16vw;
      right: 17vw;
    }

    #hyein_desc { /* Customizing the description of the member's profile */
      font-family: retropix;
      font-size: 2vw;
      color: black;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: -24vw;
      left: 41px;
    }
  }
}

/* Shop Introduction Section*/
.shop_page {
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  .head {
    width: 100%;

    /* Customizing the title of the Shop */
    .title { 
      font-family: retropix;
      font-size: 5vw;
      color: black;
      text-align: center;
      margin-top: 30px;
    }

    /* Customizing the alignment of the image of the header */
    #nj {
      width: 100%;
      object-fit: cover;
    }
  }
}

/* Customizing the font of the Merchandises' name and price */
.shop {
  font-family: retropix;
  display: flex;
  width: 100%;
  flex-direction: row;
}

/* Customizing the alignment of the shop container of the merchandise boxes */
.shop_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5%;
  flex-direction: row;
}

/* Customizing the alignment of the boxes with merchandise information */
.shop {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-basis: 21%;
  flex-wrap: wrap;
  position: relative;
}

/* Customizing the cover image of the merchandise */
.shop img {
  max-width: 100%;
  min-width: 245px;
  min-height: 245px;
  height: 25vw;
  opacity: 1;
  transition: 1s ease;
  object-fit: contain;
}

/* To customize the overlay over the image of the merchandise */
.shop .image_overlay {
    background: lightpink;
    opacity: 0;
    position: absolute;
    inset: 0;
    transition: all 0.4s ease;
}

/* To customize the feature when the mouse cursor is hovering over the image of the merchandise */
.shop .image_overlay:hover {
    opacity: 0.2;
}

/* Customizing the description of the merchandise in the box*/
#shop_desc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
