/* Custom Cursor */
html {
    cursor: url("photos/cursor.png"), auto;
  }

/* Font faces */
@font-face {
    font-family: retropix;
    src: url(fonts/retropix/retropix.ttf);
    }

@font-face{
    font-family: sloopscript;
    src: url(fonts/Sloop\ Script\ Regular.ttf);
    }

@font-face {
    font-family: texgyre_italic;
    src: url(fonts/texgyretermes-italic.otf);
    }

@font-face{
    font-family: texgyre_regular;
    src: url(fonts/texgyretermes-regular.otf);
    }

body{
    margin: 0px;
}

/* Navigation Bar */
.nav_about{
    font-family: sloopscript;
    font-size: 4vw;
    }

.nav_shop{
    font-family: sloopscript;
    font-size: 4vw;
    }

ul{text-align: center;
}
    
li{display:inline;
    padding:8px
}

/* Media Queries */
@media screen and (max-width: 992px){
    .logo{
        width: 49.2px;
        height: 33.2px;
    }
    
    body{        
        background: url("photos/home_wallpaper.png");
        background-repeat: no-repeat;
        background-size: cover;}

    /* Shop Introduction Section*/
    .intro{
        .introduction{
            #nj{
                height:100%;
                width: 100%;
                z-index: 0;
            }

            .title{
                font-family: retropix;
                font-size: 5vw;
                color:whitesmoke;
                text-align: center;
                z-index: 1;
            }
        }

    }

    .shop {
        font-family: retropix;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
    }
    
    .shop_container {
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 5%;
        flex-direction: row;
    }
    
    .shop {
        display: flex;
        flex-direction: column;
        flex: 1;
        flex-basis: 21%;    
        border: 4px solid #000000;
    }
    
    img.img {
        max-width: 100%;
        flex-grow: 1;  
    }
    
    .desc {
        background-color: #777777;
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        justify-content: center;
    }


}